@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
:root {
  --card-width: 400px;
  --card-height: 220px;
  --border: 10px;
  --secondary-color: hsl(270, 3%, 87%);
  --btn-color: hsl(278, 68%, 11%);
  --gray-color: hsl(279, 6%, 55%);
  --error-color: hsl(0, 100%, 66%);
}

main {
  display: flex;
  max-width: 100vw;
  overflow: hidden;
}
section {
  height: 100vh;
  width: 50%;
}

.card-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 36px;

  background-image: url('./images/bg-main-desktop.png');
  background-size: 30vw 100vh;
  background-repeat: no-repeat;
}

.card-front {
  background-image: url(./images/bg-card-front.png);
}

.card-back {
  position: relative;
  margin-left: 20%;
  background-image: url(./images/bg-card-back.png);
}

.card-front,
.card-back {
  border-radius: var(--border);
  width: var(--card-width);
  height: var(--card-height);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.card-front:hover,
.card-back:hover {
  transform: scale(1.1);
}

.card-back p {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.card-front div:nth-child(1) {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  margin-bottom: 60px;
}

.card-front div:nth-child(1)::after {
  content: '';
  left: 130%;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: absolute;
}

.card-front h2 {
  color: #fff;
  margin-bottom: 16px;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.inputs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form,
.complete-state {
  max-width: 400px;
}

form {
  display: none;
}

label,
input {
  display: block;
  width: 100%;
  cursor: pointer;
}

label {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 10px;
}

input {
  padding: 12px 16px;
  border-radius: var(--border);
  border: none;
  border: 1px solid var(--secondary-color);

  transition: 0.4s;
}
.input-container {
  margin-bottom: 30px;
}

.error-input {
  border: 1px solid var(--error-color);
}

input:hover {
  border-color: hsl(278, 94%, 30%);
}

.date-inputs-container {
  display: flex;
  gap: 16px;
}
.date-inputs {
  display: flex;
  gap: 8px;
}

.date-inputs-container div {
  flex: 1;
}

.error-message {
  display: none;
  color: var(--error-color);
  font-size: 12px;
}

.complete-state {
  width: 100%;
  display: none;
  text-align: center;
}

.complete-state img {
  width: 80px;
  margin: 32px 0;
}

.complete-state h2 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.btn {
  width: 100%;
  border: none;
  border-radius: var(--border);
  padding: 18px 10px;
  background-color: var(--btn-color);
  color: #fff;
  cursor: pointer;
  transition: linear 0.3s;
  margin: 30px 0;
}

.btn:hover {
  background-color: hsl(278, 94%, 30%);
}

.display {
  display: block;
}

@media only screen and (max-width: 1023px) {
  main {
    flex-direction: column;
  }

  section {
    width: 100%;
    height: 100%;
  }

  .card-section {
    position: relative;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background-image: url('./images/bg-main-mobile.png');
    background-size: 100vw 250px;
    padding: 32px 16px;
    font-size: 12px;
    gap: 0;
    height: 300px;
  }

  .card-front {
    z-index: 2;
    padding: 16px;
    position: absolute;
    top: 42%;
    left: 30%;
  }

  .card-front,
  .card-back {
    width: calc(var(--card-width) / 1.5);
    height: calc(var(--card-height) / 1.3);
  }

  .card-back p {
    right: 10px;
  }

  .card-front div:nth-child(1) {
    width: 25px;
    height: 25px;
  }

  .card-front div:nth-child(1)::after {
    width: 12px;
    height: 12px;
    margin-bottom: 20px;
  }

  .inputs-section {
    padding: 32px 16px;
    height: 60vh;
  }
}

@media only screen and (max-width: 767px) {
  .card-front {
    left: 10%;
  }
  .inputs-section {
    height: 100%;
  }
}
